body{
    background-color: rgb(92, 92, 241);
}
.div1{
width: 300px;
height: 400px;
background-color: rgb(18, 18, 110);
border-radius: 10px 0px 0px 10px;
margin-left: 100px;
margin-top: 80px;
position: absolute;
display: inline-block;
}
.form1{
width: 600px;
height: 400px;
background-color: white;
display: inline-block;
margin-left: 400px;
margin-top: 80px;
border-radius: 0px 10px 10px 0px;
}
#img1{
width: 120px;
height: 40px;
margin-left: 95px;
margin-top: 100px;
}
#lbl1{
font-size: 25px;
margin-left: 30px;
margin-top: 10px;
position: absolute;
color: white;
}
#btn1{
margin-top: 40px;
margin-left: 85px;
width: 140px;
height: 30px;
border-radius: 15px;
border: none
}
#h1{
margin-left: 50px;
margin-top: 60px;
font-size: 30px;
}
#inp1{
width: 330px;
height: 25px;
margin-left: 50px;
border-color: rgb(69, 14, 100);
}
#h2{
font-size: 13px;
margin-left: 60px   
}
#inp2{
width: 330px;
height: 25px;
margin-left: 50px;
border-color: rgb(163, 160, 164);
}
#inp2{
font-size: 13px;
}
#check1{
margin-left: 50px;
margin-top: 10px;
display: inline-block;
}
#btn2{
width: 150px;
height: 30px;
background-color: rgb(50, 91, 167);
color: white;
margin-left: 50px;
margin-top: 10px;
position: absolute;
display: inline-block;
border-radius: 3px;
border: none;
}
#lbl3{
margin-left: 280px;
margin-top: 15px;
color: rgb(66, 108, 185);
display: inline-block;
}
